<div fxLayout="column" style="height: 100%">
  <mat-toolbar [ngClass]="{'editing':searchBox.searchVisible}">
    <div layout="row" layout-align="start center" flex>

      <!--<button *ngIf="!searchBox.searchVisible" mat-icon-button [tdLayoutManageListToggle]="true" (click)="toggleMenu()">-->
      <!--<mat-icon>{{menu_expand?'keyboard_arrow_left':'keyboard_arrow_right'}}</mat-icon>-->
      <!--</button>-->

      <span *ngIf="!searchBox.searchVisible">{{'Take Leave' | translate:lang}}</span>

      <td-search-box #searchBox (keyup)='updateFilter($event)' (clear)="updateFilter('')" backIcon="arrow_back"
                     class="btn-icon" placeholder="Filter by any keyword" flex>
      </td-search-box>

      <span>
      <a mat-icon-button mat-tooltip="History" class="btn-icon push-right-sm" (click)="openLogs(null)"><mat-icon>history</mat-icon></a>
        <!--<button mat-icon-button mat-tooltip="History"><mat-icon>history</mat-icon></button>-->
        <!--<button mat-icon-button mat-tooltip="More..." [matMenuTriggerFor]="toolbarMenu"><mat-icon>more_vert</mat-icon></button>-->
        <!--<mat-menu #toolbarMenu="matMenu">-->
        <!--<button mat-menu-item>-->
        <!--<mat-icon>file_download</mat-icon>-->
        <!--<span>Export</span>-->
        <!--</button>-->
        <!--</mat-menu>-->
      <a mat-raised-button tdMediaToggle="xs" [mediaStyles]="{display: 'none'}"
         color="primary" *ngIf="status_add_btn"
         (click)="addData(employee_code, employee_name, department)">
        <mat-icon>add</mat-icon>
        Add Take Leave</a>
    </span>

    </div>
    <mat-progress-bar *ngIf="loading" class="progress" mode="indeterminate"></mat-progress-bar>
  </mat-toolbar>

  <div class="mat-content" fxFlex>
    <div slimScroll height="100%" disableFadeOut="true" borderRadius="0px" size="10px" opacity=".3" color="#000"
         alwaysVisible="true">
      <mat-card style="margin:20px 40px;">

        <ngx-datatable
          #dataTable
          class="data-table"
          [rows]="rows"
          [columnMode]="'force'"
          [headerHeight]="35"
          [scrollbarH]="true"
          [sorts]="[{prop: 'prop', dir: 'desc'}]"
          [rowHeight]="'auto'"
          [limit]="page.size"
        >
          <ngx-datatable-column
            prop="code"
            name="Employee"
            [minWidth]="50"
            [width]="95">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <!--<div style="text-align: left" class="text-truncate">
                {{row.employee_code}} - {{row.employee_name}}
              </div>-->

              <div fxLayout="column">
                <div [ngClass]="{'twoline-title': row.employee_code}" style="text-align: left;padding-bottom: 0px;"
                     class="text-truncate">
                  <!--<mat-form-field flex>-->
                    <!--<input matInput-->
                           <!--placeholder="Code"-->
                           <!--[(ngModel)]="data.code"-->
                           <!--name="late_work"-->
                           <!--maxlength="250"-->
                           <!--required>-->
                  <!--</mat-form-field>-->
                  {{row.employee_code}}
                </div>
                <div *ngIf="row.employee_code" class="text-truncate"
                     style="padding-top: 5px;text-align: left;line-height: 5px;font-size: 0.7rem;opacity: 0.8;">
                  {{row.employee_name}}
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="Department"
            [canAutoResize]="true"
            [width]="50">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="text-truncate">
                {{row.department}}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="Take Leave"
            [width]="70">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left;width: 80%" class="row">
                <br>
                <mat-select required
                            name="tale_leave"
                            placeholder="{{row.take_leave}}"
                            [(ngModel)]="row.take_leave"
                            (change)="updateData(row)"
                            disabled="{{row.disable}}"
                            >
                  <mat-option value="Sick Leave">Sick Leave</mat-option>
                  <mat-option value="Business Leave">Business Leave</mat-option>
                  <mat-option value="Holidays">Holidays</mat-option>
                  <mat-option value="Vacations">Vacations</mat-option>
                </mat-select>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="Start Leave"
            [canAutoResize]="true"
            [width]="50">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="row">
                <mat-form-field style="width: 95%">
                <input matInput [matDatepicker]="start_leave"
                       [(ngModel)]="row.start_leave"
                       (dateChange)="updateData(row)"
                       placeholder="Choose a date"
                       disabled="{{row.disable}}"
                       >
                <mat-datepicker-toggle matSuffix [for]="start_leave"></mat-datepicker-toggle>
                <mat-datepicker #start_leave></mat-datepicker>
              </mat-form-field>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="End Leave"
            [canAutoResize]="true"
            [width]="50">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="row">
                <mat-form-field style="width: 95%">
                  <input matInput [matDatepicker]="end_leave"
                         [(ngModel)]="row.end_leave"
                         (dateChange)="updateData(row)"
                         width="10"
                         placeholder="Choose a date"
                         disabled="{{row.disable}}"
                         >
                  <mat-datepicker-toggle matSuffix [for]="end_leave"></mat-datepicker-toggle>
                  <mat-datepicker #end_leave></mat-datepicker>
                </mat-form-field>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            prop="take_leave_status"
            name="Status"
            [canAutoResize]="true"
            [width]="20"
            >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="text-truncate">
                <font color="{{row.status_colos}}">{{row.take_leave_status}}</font>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [canAutoResize]="false"
            [resizeable]="false"
            [width]="130"
            name="Action">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: center;" fxLayout="row">
                <button mat-icon-button mat-tooltip="Edit" class="" *ngIf="true" (click)="cancelStatus(row)" disabled="{{row.disable}}">
                  <mat-icon>reply</mat-icon>
                </button>
                <button mat-icon-button mat-tooltip="Edit" class="" *ngIf="status"  (click)="approveStatus(row)" disabled="{{row.disable}}">
                  <mat-icon>check_circle</mat-icon>
                </button>
                <button mat-icon-button mat-tooltip="Edit" class="" *ngIf="status === false && row.disable === true && row.take_leave_status !== 'Cancel'" (click)="approveStatus(row)" disabled="{{row.disable}}">
                  <mat-icon>check_circle</mat-icon>
                </button>
                <button mat-icon-button class="" [matMenuTriggerFor]="menu" *ngIf="status_del_row">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <a mat-menu-item (click)="openLogs(row)">
                    <span l10nTranslate>View Logs</span>
                  </a>
                  <mat-divider></mat-divider>
                  <a mat-menu-item
                     (click)="deleteData(row)">
                    <span l10nTranslate>Delete data</span>
                  </a>
                </mat-menu>
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

        <div class="mat-padding" *ngIf="rows?.length === 0 && !loading" layout="row" layout-align="center center">
          <h3>No data to display.</h3>
        </div>
        <mat-paginator #paginator
                       [length]="page.totalElements"
                       [pageIndex]="page.pageNumber"
                       [pageSize]="page.size"
                       (page)="setPage($event)"
                       [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
      </mat-card>
    </div>
  </div>

</div>


<!--<a mat-fab color="primary" class="mat-fab-bottom-left fixed" [tdLayoutManageListToggle]="true" (click)="toggleMenu()">-->
<!--<mat-icon>{{menu_expand?'keyboard_arrow_left':'keyboard_arrow_right'}}</mat-icon>-->
<!--</a>-->

<a mat-fab color="primary" tdMediaToggle="gt-xs" [mediaStyles]="{display: 'none'}" class="mat-fab-bottom-right fixed"
   (click)="addData()">
  <mat-icon>add</mat-icon>
</a>
