<div align="center" style="vertical-align: inherit; padding: 50px;">
  <form #dataForm="ngForm">
      <mat-card-content>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   type="text"
                   #codeElement
                   #codeControl="ngModel"
                   placeholder="ID"
                   [(ngModel)]="data.code"
                   name="code"
                   disabled
                   maxlength="4">
            <mat-hint align="start">
              <span [hidden]="codeControl.pristine" class="tc-red-600">
              <span [hidden]="!codeControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{codeElement.value?.length || 0}} / 4</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #company_name1Element
                   #company_name1Control="ngModel"
                   placeholder="Name 1"
                   [(ngModel)]="data.company_name1"
                   name="company_name1"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="company_name1Control.pristine" class="tc-red-600">
                  <span [hidden]="!company_name1Control.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{company_name1Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #company_name2Element
                   #company_name2Control="ngModel"
                   placeholder="Name 2"
                   [(ngModel)]="data.company_name2"
                   name="company_name2"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="company_name2Control.pristine" class="tc-red-600">
                  <span [hidden]="!company_name2Control.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{company_name2Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
            <input matInput
                   hidden
                   [(ngModel)]="data.license"
                   name="license"
                   maxlength="250"
                   required>
        </div>

      </mat-card-content>

      <mat-card-footer style="margin: 0px 10px;align-content: center;">
        <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
        <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
                (click)="saveData(dataForm.form)">Save
        </button>
      </mat-card-footer>
  </form>
</div>
