:host /deep/ {
  .btn-back{
    position: absolute;
    top: 0;
    left: 0;
  }

  .mat-form-field-subscript-wrapper {
    font-size: 70%;
    margin-top: 0.54167em;
    top: calc(100% - 1.96667em);
  }

  .container {
    background-color: #e0e0e0;
  }

  .list-title{
    color: rgba(0,0,0,.87);
    font-size: 1rem;
  }

  .list-detail{
    color: rgba(0,0,0,.38);
    font-size: 0.89rem;
  }

  .link {
    color: var(--accent-color);
    cursor: pointer;
  }

  .link:hover {
    text-decoration: underline;
  }
  .form {
    min-width: 150px;
    max-width: 500px;
    min-height: 150px;
    max-height: 500px;
    width: 100%;
    height: 100%;
  }
  .full-width {
    width: 100%;
  }
  .row {
    display: flex;
    text-align: center;
  }
  .image {
    width: 100px;
    height: 100px;
  }
}
