:host /deep/ {

  .mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: auto;
    padding: 5px 16px;
    position: relative;
  }

  .link {
    color: var(--default-primary-color);
    font-weight: 500;

    :hover {
      text-decoration: underline;
    }
  }

  .editing {
    background-color: white;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .td-search-input {
    font-size: 0.89rem;
    color: var(--primary-text-color);

    & .mat-input-wrapper {
      padding-bottom: 0.7em;
    }
  }

  .data-table {

    .datatable-header:hover {
      .datatable-header-cell {
        border-right: 1px solid var(--divider-color);
      }
    }

    datatable-selection {
      //display: none;
    }

    .empty-row {
      display: none;
    }

    & .datatable-scroll {
      width: 100% !important;
    }

    .datatable-header {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      background: #f5f5f5;
      width: 100% !important;
    }

    .datatable-header-cell {
      color: rgba(0, 0, 0, 0.54);
      cursor: pointer;
      outline: none;
      font-size: 0.75rem;
      padding: 8px 15px;
      font-weight: 500;
      text-align: left;

      .sort-active {
        color: rgba(0, 0, 0, 0.87) !important;
      }

      .text-center {
        text-align: center;
      }
    }

    .datatable-body-cell {
      color: rgba(0, 0, 0, 0.54);
      font-size: 13px;
      line-height: 16px;
      height: 48px;
      padding: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      white-space: nowrap;

    }

    .datatable-body .datatable-body-row {
      outline: none;
      :hover {
        background: #eee;
      }
    }

    .active {
      background: transparent !important;
    }

    .datatable-header .resize-handle {
      border-right: solid 1px #eee;
    }

    .text-truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: inherit;
      position: relative;
      z-index: 4;
      padding: 10px 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }

  .editing {
    background: #fff;
    z-index: 4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .mat-input-placeholder-wrapper {
    font-size: 0.89rem;
  }

  .mat-paginator {
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    height: 56px;
    padding-left: 24px;
  }

  .search-bar {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.38);
  }

  td-search-box {
    color: rgba(0, 0, 0, 0.38);
    display: block;
    font-size: 14px;
  }

  .mat-select-underline {
    background-color: rgba(0, 0, 0, 0.12);
    display: none;
  }

  .status-active {
    color: #fff;
    background: #009688 !important;
  }

  .status-inactive {
    background: #e0e0e0 !important;
  }

  .chip {
    padding: 2px 7px !important;
    border-radius: 15px !important;;
  }

  .progress {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
  }

  .mat-chip-list-wrapper {
    display: block;
  }

  .twoline-title {
    padding-top: 6px !important;
  }

  .btn-icon{
    color:rgba(0, 0, 0, 0.38)
  }

  .btn-icon:hover{
    color:rgba(0, 0, 0, 0.9)
  }
  .red-icon {
    color: red;
  }
  .green-icon {
    color: green;
  }
  .orange-icon {
    color: orange;
  }

}
