<div fxLayout="column" style="height: 100%">
  <mat-toolbar [ngClass]="{'editing':searchBox.searchVisible}">
    <div layout="row" layout-align="start center" flex>

      <!--<button *ngIf="!searchBox.searchVisible" mat-icon-button [tdLayoutManageListToggle]="true" (click)="toggleMenu()">-->
      <!--<mat-icon>{{menu_expand?'keyboard_arrow_left':'keyboard_arrow_right'}}</mat-icon>-->
      <!--</button>-->

      <span *ngIf="!searchBox.searchVisible">{{'Management' | translate:lang}}</span>

      <td-search-box #searchBox (keyup)='updateFilter($event)' (clear)="updateFilter('')" backIcon="arrow_back"
                     class="btn-icon" placeholder="Filter by any keyword" flex>
      </td-search-box>

      <span>
      <a mat-icon-button mat-tooltip="History" class="btn-icon push-right-sm" (click)="openLogs(null)"><mat-icon>history</mat-icon></a>
        <!--<button mat-icon-button mat-tooltip="History"><mat-icon>history</mat-icon></button>-->
        <!--<button mat-icon-button mat-tooltip="More..." [matMenuTriggerFor]="toolbarMenu"><mat-icon>more_vert</mat-icon></button>-->
        <!--<mat-menu #toolbarMenu="matMenu">-->
        <!--<button mat-menu-item>-->
        <!--<mat-icon>file_download</mat-icon>-->
        <!--<span>Export</span>-->
        <!--</button>-->
        <!--</mat-menu>-->
      <!--<a mat-raised-button tdMediaToggle="xs" [mediaStyles]="{display: 'none'}" color="primary" (click)="addData()">-->
        <!--<mat-icon>add</mat-icon>-->
        <!--Add Comparison</a>-->
    </span>

    </div>
    <mat-progress-bar *ngIf="loading" class="progress" mode="indeterminate"></mat-progress-bar>
  </mat-toolbar>

  <div class="mat-content" fxFlex>
    <div slimScroll height="100%" disableFadeOut="true" borderRadius="0px" size="10px" opacity=".3" color="#000"
         alwaysVisible="true">
      <mat-card style="margin:20px 40px;">
        <br>
        <button mat-button class="text-upper" color="primary"
                (click)="newPayments()">
          <mat-icon>autorenew</mat-icon> New Payments
        </button>
        <button mat-button class="text-upper" color="primary"
                (click)="undo()">
          <mat-icon>undo</mat-icon> Undo Resign
        </button>
        <button mat-button class="-align-right" color="info">
          <mat-icon>group</mat-icon> Manpower All :  {{count_row}}
        </button>

        <br>
        <br>
        <ngx-datatable
          #dataTable
          class="data-table"
          [rows]="rows"
          [columnMode]="'force'"
          [headerHeight]="35"
          [scrollbarH]="true"
          [rowHeight]="'auto'"
          [sorts]="[{prop: 'prop', dir: 'desc'}]"
          [limit]="page.size"
        >

          <ngx-datatable-column
            prop="code"
            name="Employee Code"
            [minWidth]="50"
            [width]="80">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="text-truncate">
                {{row.emp_code}}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="Description Name"
            [minWidth]="50"
            [width]="130">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="text-truncate">
                {{row.name1}}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="Sick Leave"
            [minWidth]="50"
            [width]="80">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="text-truncate">
                {{row.sick_leave}}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="Business Leave"
            [minWidth]="50"
            [width]="80">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="text-truncate">
                {{row.bussiness_leave}}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="Holidays"
            [minWidth]="50"
            [width]="80">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="text-truncate">
                {{row.holiday}}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="Vacations"
            [minWidth]="50"
            [width]="80">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="text-truncate">
                {{row.vacation}}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [width]="80"
            name="Resign">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="text-truncate">
                <button mat-icon-button class="" *ngIf="row.resing === 'green'">
                  <mat-icon class="red-icon" (click)="resingData(row)">power_settings_new</mat-icon>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [width]="80"
            prop="disable"
            name="Payment">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="text-align: left" class="text-truncate" *ngIf="row.save_status === 'yes' && row.pay_status === 'wait'">
                <mat-chip-list>
                  <button mat-icon-button class="">
                    <mat-icon class="orange-icon" (click)="addPayment(row)">payment</mat-icon>
                  </button>
                </mat-chip-list>
              </div>
              <div style="text-align: left" class="text-truncate" *ngIf="row.save_status === 'no' && row.pay_status === 'paid'">
                <mat-chip-list>
                  <button mat-icon-button class="">
                    <mat-icon class="green-icon" (click)="addPayment(row)">payment</mat-icon>
                  </button>
                </mat-chip-list>
              </div>
              <div style="text-align: left" class="text-truncate" *ngIf="row.save_status === 'no' && row.pay_status === 'wait'">
                <mat-chip-list>
                  <button mat-icon-button class="">
                    <mat-icon class="green-icon" (click)="addPayment(row)">payment</mat-icon>
                  </button>
                </mat-chip-list>
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

        <div class="mat-padding" *ngIf="rows?.length === 0 && !loading" layout="row" layout-align="center center">
          <h3>No data to display.</h3>
        </div>
        <mat-paginator #paginator
                       [length]="page.totalElements"
                       [pageIndex]="page.pageNumber"
                       [pageSize]="page.size"
                       (page)="setPage($event)"
                       [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>


