<td-layout-nav toolbarTitle="Setting Network Local" class="container">
  <button mat-icon-button td-menu-button mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>

  <td-layout-card-over cardTitle="Setting Network Local" cardSubtitle="">
    <mat-divider></mat-divider>

    <mat-card-content style="padding-top: 0px;">
      <form #dataForm="ngForm">
        <div layout="row" align="center">
          <mat-card-content class="push-bottom-none" style="width: 50vw; margin: 10px; margin-bottom: 0px;">
            <div layout="row">
                <input matInput
                       hidden
                       #codeElement
                       #codeControl="ngModel"
                       placeholder="Code"
                       [(ngModel)]="data.code"
                       disabled
                       name="code"
                       maxlength="250"
                       required>
                <mat-hint align="start">
                <span [hidden]="codeControl.pristine" class="tc-red-600">
                  <span [hidden]="!codeControl.hasError('required')">Required</span>
                </span>
                </mat-hint>
            </div>
            <div layout="row">
              <mat-form-field flex>
                <input matInput
                       #localElement
                       #localControl="ngModel"
                       placeholder="Local"
                       [(ngModel)]="data.local"
                       name="local"
                       maxlength="250"
                       required>
                <mat-hint align="start">
                <span [hidden]="localControl.pristine" class="tc-red-600">
                  <span [hidden]="!localControl.hasError('required')">Required</span>
                </span>
                </mat-hint>
              </mat-form-field>

              <div layout="row" style="margin-top: 25px">
                <input hidden
                       #minimumElement
                       #minimumControl="ngModel"
                       [(ngModel)]="data.company_code"
                       name="company_code">
              </div>

            </div>
          </mat-card-content>
        </div>
      </form>
      <!-- Footer -->
      <mat-card-footer style="margin: 0px 10px;align-content: center;">
        <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
                (click)="changeLocal(dataForm.form)">Save
        </button>
      </mat-card-footer>
    </mat-card-content>
  </td-layout-card-over>
</td-layout-nav>
