:host /deep/{
  .body{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .login-card {
    background: rgba(255,255,255,0.8);
    text-align: left;
    width: 300px;
    display: inline-block;
    padding: 40px 40px 36px !important;
    margin-bottom: 50px;
    overflow: auto;
  }

  .login-card-xs{
    margin: 0px;

  }

  .form-login {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    padding: 10px 0 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    vertical-align: top;
    white-space: normal;
    width: 100%;
  }

  .color-title{
    color: #fff;
  }

  .language {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 15px;
  }

  .full-width {
    width: 100%;
  }

  .login-button {
    text-transform: uppercase;
    background-color: var(--default-primary-color);
    color: #fff;
  }

  .action {
    margin-top: 20px;
  }

  .action-signin {
    width: 100%;
    text-align: right
  }

  .forgot-email:hover {
    text-decoration: underline;
  }

  .forgot-email {
    white-space: nowrap;
    color: #4285f4;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    width: 100%;
  }

  .head {
    margin-bottom: 5px;
  }

  .recovery-email{
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

/deep/ app-login {
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
}





