<td-layout #layout>

  <td-navigation-drawer name="{{user.displayName}}" email="{{user.email}}">
    <mat-nav-list>
      <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
        <a mat-list-item [routerLink]="[item.route]" (click)="layout.close()">
          <mat-icon>{{item.icon}}</mat-icon>
          {{item.title}}</a>
      </ng-template>
    </mat-nav-list>
    <mat-nav-list td-navigation-drawer-menu>
      <!--<a mat-list-item (click)="openSetting()">-->
        <!--<mat-icon>tune</mat-icon>-->
        <!--Account settings</a>-->
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Sign out</a>
    </mat-nav-list>
  </td-navigation-drawer>

  <td-layout-nav [color]="'primary'">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <!--<mat-icon *ngIf="(_media.registerQuery('gt-lg') | async)" class="mat-icon-logo cursor-pointer" (click)="refresh()"-->
      <!--svgIcon="assets:logo"></mat-icon>-->
      <span>{{company_name}}</span>
      <button mat-button class="-align-right" color="info" *ngIf="warning">
        <mat-icon class="red-icon">message</mat-icon> Your system will only work ! :<font color="red">  <b>{{day}} DAY {{hour}} HOUR </b></font>
      </button>
      <!--<p class="version">version {{appVersion}}</p>-->
      <span flex></span>

      <button mat-button [matMenuTriggerFor]="menu">
        <div fxLayout="row">
          <div *ngIf="lang === 'en'">English</div>
          <div *ngIf="lang === 'th'" >ภาษาไทย</div>
          <div *ngIf="lang === 'ko'" >Korean</div>
          <mat-icon style="line-height: 35px; margin-left: 5px;">arrow_drop_down</mat-icon>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="selectLanguage('en');">
          English
        </button>
        <button mat-menu-item (click)="selectLanguage('th');">
          ภาษาไทย
        </button>
        <button mat-menu-item disabled (click)="selectLanguage('ko');">
          Korean
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="settingsMenu" *ngIf="status">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu" [overlapTrigger]="false">
        <td-menu style="width: 250px;">
          <div td-menu-header class="mat-subhead">Setup</div>
          <mat-nav-list dense>
            <!--<ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">-->
            <!--///////////////////// Admin SEFWARE Setup ////////////////////-->
            <a mat-list-item (click)="openManagementLicense()" *ngIf="adminSefStatus">
              <h4 mat-line><span class="text-wrap">Add License</span>
              </h4>
            </a>
            <a mat-list-item (click)="openManagementCompanys()" *ngIf="adminSefStatus">
              <h4 mat-line><span class="text-wrap">Add Company</span>
              </h4>
            </a>
            <a mat-list-item (click)="addEmployeeAdmin()" *ngIf="adminSefStatus">
              <h4 mat-line><span class="text-wrap">Add Admin</span>
              </h4>
            </a>
            <!--///////////////////// Company Admin Setup ////////////////////-->
            <a mat-list-item (click)="openDepartment()" *ngIf="adminstatus">
              <h4 mat-line><span class="text-wrap">Department</span>
              </h4>
            </a>
            <a mat-list-item (click)="openEmployeeProfile()" *ngIf="adminstatus">
              <h4 mat-line><span class="text-wrap">Employee Profile</span>
              </h4>
            </a>
            <a mat-list-item (click)="openCheckTime()" *ngIf="adminstatus">
              <h4 mat-line><span class="text-wrap">Time Check<label style="font-size: 12px; color: #BDBDBD;"> (In-Out)</label></span>
              </h4>
            </a>
            <a mat-list-item (click)="openWokingTimeSetting()" *ngIf="adminstatus">
              <h4 mat-line><span class="text-wrap">Working Time Setting</span>
              </h4>
            </a>
            <a mat-list-item (click)="openHolidays()" *ngIf="adminstatus">
              <h4 mat-line><span class="text-wrap">Holidays</span>
              </h4>
            </a>
            <a mat-list-item (click)="setCompanyProfile()" *ngIf="adminstatus">
              <h4 mat-line><span class="text-wrap">Set Company Profile</span>
              </h4>
            </a>
            <a mat-list-item (click)="settingNetworkLocal()" *ngIf="adminstatus">
              <h4 mat-line><span class="text-wrap">Setting Network Local</span>
              </h4>
            </a>
            <!--Stop Menu-->

          </mat-nav-list>
        </td-menu>
      </mat-menu>
    </div>

    <router-outlet></router-outlet>

  </td-layout-nav>

</td-layout>
