<!--<div *ngIf="processing" class="mask"></div>-->
<!--<md-progress-bar *ngIf="processing" class="top-progress" mode="indeterminate"></md-progress-bar>-->

<!--<div class="form">-->
  <!--<h2 md-dialog-title>{{(md_data?md_data.title:'Upload' | translate:lang)}}</h2>-->

  <!--<button md-icon-button md-dialog-close class="btn-close">-->
    <!--<md-icon>-->
      <!--<i class="mdi mdi-close"></i>-->
    <!--</md-icon>-->
  <!--</button>-->

  <!--<md-dialog-content>-->
    <!--<div style="text-align: center">-->
      <!--<img [(src)]="link" width="200px" height="200px;" class="image">-->
    <!--</div>-->
    <!--<div style="text-align: center;margin-top: 5px;">-->
      <!--<p-fileUpload class="btn-upload" mode="basic" auto="true" accept="image/*" maxFileSize="1000000" (change)="upload($event)" chooseLabel="Browse"></p-fileUpload>-->
    <!--</div>-->
  <!--</md-dialog-content>-->

  <!--<md-dialog-actions class="operation">-->
    <!--<button class="btn btn-cancel" md-button [md-dialog-close]="false">Cancel</button>-->

    <!--<button class="btn btn-colored-primay" md-button [md-dialog-close]="link">Save</button>-->
  <!--</md-dialog-actions>-->
<!--</div>-->

