
<form #dataForm="ngForm">
  <div align="center" style="vertical-align: inherit; padding: 10px;">
    <h5><b>ID</b><font color="#26A69A"> &nbsp;&nbsp;&nbsp; {{data.code}} &nbsp;&nbsp;&nbsp; </font>
      <b>Name</b><font color="#26A69A"> &nbsp;&nbsp;&nbsp; {{data.name1}} &nbsp;&nbsp;&nbsp;</font>
      <b>Bank</b><font color="#26A69A"> &nbsp;&nbsp;&nbsp; {{data.bank}} &nbsp;&nbsp;&nbsp;</font>
      <b>Account No.</b><font color="#26A69A"> &nbsp;&nbsp;&nbsp; {{data.account}} &nbsp;&nbsp;&nbsp;</font></h5>
    <hr class="push-bottom-none">
    <!--****************************************************************************************************-->
    <h5 class="push-bottom-none"><b>Payment No.</b><font color="#26A69A"> &nbsp;&nbsp;&nbsp; {{data.payment_code}} &nbsp;&nbsp;&nbsp;</font>
      <b>Payment Date</b><font color="#26A69A"> &nbsp;&nbsp;&nbsp; {{data.payment_date | date: 'dd/MM/yyyy'}} &nbsp;&nbsp;&nbsp;</font>
      <b>Period-Payday</b>&nbsp;&nbsp;&nbsp;
      <label><mat-form-field style="width: 100px">
        <input matInput [matDatepicker]="period"
               placeholder="Period"
               name="period"
               required
               (dateChange)="changeData(data, data.save_status = 'no')"
               [(ngModel)]="data.period"
        >
        <mat-datepicker-toggle matSuffix [for]="period"></mat-datepicker-toggle>
        <mat-datepicker #period></mat-datepicker>
      </mat-form-field></label> -
      <label><mat-form-field style="width: 100px">
        <input matInput [matDatepicker]="payday"
               placeholder="Payday"
               required
               name="payday"
               (dateChange)="changeData(data, data.save_status = 'no')"
               [(ngModel)]="data.payday"
        >
        <mat-datepicker-toggle matSuffix [for]="payday"></mat-datepicker-toggle>
        <mat-datepicker #payday></mat-datepicker>
      </mat-form-field></label>
    </h5>
    <!--****************************************************************************************************-->
    <h5 class="push-none"><mat-form-field flex>
      <input matInput
             placeholder="Basic Salary"
             name="salary"
             [(ngModel)]="data.salary"
             (input)="changeData(data, data.save_status = 'no')"
             required>
    </mat-form-field>
      <span style="padding-right: 25px" flex></span>
      <mat-form-field flex>
        <input matInput
               placeholder="Personal Income Tex"
               name="personal_income_tex"
               [(ngModel)]="data.personal_income_tex"
               (input)="changeData(data, data.save_status = 'no')"
               required>
      </mat-form-field>
    </h5>
    <h5  class="push-none"><mat-form-field flex>
      <input matInput
             placeholder="Bonus Allowance"
             (input)="changeData(data, data.save_status = 'no')"
             name="bonus_allowance"
             [(ngModel)]="data.bonus_allowance"
             required>
    </mat-form-field>
      <span style="padding-right: 25px" flex></span>
      <mat-form-field flex>
        <input matInput
               placeholder="Social Security Monthly"
               name="social_security_monthly"
               [(ngModel)]="data.social_security_monthly"
               (input)="changeData(data, data.save_status = 'no')"
               required>
      </mat-form-field>
    </h5>
    <h5 class="push-none"><mat-form-field flex>
      <input matInput
             placeholder="Incentive"
             name="incentive"
             [(ngModel)]="data.incentive"
             (input)="changeData(data, data.save_status = 'no')"
             required>
    </mat-form-field>
      <span style="padding-right: 25px" flex></span>
      <mat-form-field flex>
        <input matInput
               placeholder="Take Leave No Pay"
               name="take_leave_no_pay"
               [(ngModel)]="data.take_leave_no_pay"
               (input)="changeData(data, data.save_status = 'no')"
               required>
      </mat-form-field>
    </h5>
    <h5 class="push-none"><mat-form-field flex>
      <input matInput
             placeholder="Social Security Monthly"
             name="social_security_monthly_emp"
             [(ngModel)]="data.social_security_monthly_emp"
             (input)="changeData(data, data.save_status = 'no')"
             required>
    </mat-form-field>
      <span style="padding-right: 25px" flex></span>
      <mat-form-field flex>
        <input matInput
               placeholder="Meal Deduction"
               name="meal_deduction"
               [(ngModel)]="data.meal_deduction"
               (input)="changeData(data, data.save_status = 'no')"
               required>
      </mat-form-field>
    </h5>
    <h5 class="push-none"><mat-form-field flex>
      <input matInput
             placeholder="Comission"
             name="comission"
             [(ngModel)]="data.comission"
             (input)="changeData(data, data.save_status = 'no')"
             required>
    </mat-form-field>
      <span style="padding-right: 25px" flex></span>
      <mat-form-field flex>
        <input matInput
               placeholder="Provident Fund"
               name="provident_fund"
               [(ngModel)]="data.provident_fund"
               (input)="changeData(data, data.save_status = 'no')"
               required>
      </mat-form-field>
    </h5>
    <!--****************************************************************************************************-->
    <h5 class="push-none">
      <b>Total Income</b>
      <label><font color="#26A69A">
        <span style="padding-right: 85px" flex></span>
        {{data.total_income | number: '1.2'}}
        <span style="padding-right: 85px" flex></span></font>
        <b>Total Deduction</b>
        <font color="#26A69A">
          <span style="padding-right: 85px" flex></span>
          {{data.total_deduction | number: '1.2'}}
        </font></label>
    </h5><br>
    <!--****************************************************************************************************-->
    <!--************************** START YTD INCOME / YTD PROVIDENT *NG IF *********************************-->
    <h5 class="push-none"><mat-form-field flex *ngIf="data.save_status === 'no'">
      <input matInput
             disabled
             placeholder="YTD.Income"
             name="ytd_income"
             [ngModel]="0 | number: '1.2'"
             required>
    </mat-form-field>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field flex *ngIf="data.save_status === 'no'">
        <input matInput
               disabled
               placeholder="YTD.Provident Fund"
               name="ytd_provident_fund"
               [ngModel]="0 | number: '1.2'"
               required>
      </mat-form-field>

      <mat-form-field flex *ngIf="data.save_status === 'no'">
        <input matInput
               disabled
               placeholder="YTD.Tax"
               name="ytd_tax"
               [ngModel]="0 | number: '1.2'"
               required>
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field flex *ngIf="data.save_status === 'no'">
        <input matInput
               disabled
               placeholder="YTD.Social Security"
               name="ytd_social_security"
               [ngModel]="0 | number: '1.2'"
               required>
      </mat-form-field>
    </h5>
    <h5 class="push-none"><mat-form-field flex *ngIf="data.save_status === 'yes'">
      <input matInput
             disabled
             placeholder="YTD.Income"
             name="ytd_income"
             [ngModel]="data.ytd_income | number: '1.2'"
             required>
    </mat-form-field>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field flex *ngIf="data.save_status === 'yes'">
        <input matInput
               disabled
               placeholder="YTD.Provident Fund"
               name="ytd_provident_fund"
               [ngModel]="data.ytd_provident_fund | number: '1.2'"
               required>
      </mat-form-field>

      <mat-form-field flex *ngIf="data.save_status === 'yes'">
        <input matInput
               disabled
               placeholder="YTD.Tax"
               name="ytd_tax"
               [ngModel]="data.ytd_tax | number: '1.2'"
               required>
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field flex *ngIf="data.save_status === 'yes'">
        <input matInput
               disabled
               placeholder="YTD.Social Security"
               name="ytd_social_security"
               [ngModel]="data.ytd_social_security | number: '1.2'"
               required>
      </mat-form-field>
    </h5>
    <!--**************************** END YTD INCOME / YTD PROVIDENT *NG IF **********************************-->
    <!--**************************** START YTD TAX/ YTD SOCIAL *NG IF ***************************************-->
    <h5 class="push-none">
    </h5>
    <h5 class="push-none">
    </h5>
    <!--**************************** START YTD TAX/ YTD SOCIAL *NG IF **************************************-->
    <!--****************************************************************************************************-->
  </div>
</form>
<!-- Footer -->
<div align="center">
  <mat-card-footer style="margin: 0px 10px;align-content: center;"
                   *ngIf="data.save_status === 'yes'">
    <button mat-button class="text-upper" mat-dialog-close>close</button>
    <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
            (click)="saveData(dataForm.form, data.save_status = 'yes', data.pay_status = 'wait')">Save
    </button>
    <button
      mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
      (click)="confirmPayment(dataForm.form, data.save_status = 'no', data.pay_status = 'paid')">Paid
    </button>
    <!--<button (click)="print()">Print this page</button>-->
  </mat-card-footer>
  <mat-card-footer style="margin: 0px 10px;align-content: center;"
                   *ngIf="data.save_status === 'no'">
    <button mat-button class="text-upper" mat-dialog-close>close</button>
    <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
            (click)="saveData(dataForm.form, data.save_status = 'yes', data.pay_status = 'wait')">Save
    </button>
    <button mat-button class="text-upper" disabled="disabled" color="primary"
            (click)="confirmPayment(dataForm.form, data.save_status = 'no', data.pay_status = 'paid')">Paid
    </button>
    <!--<button (click)="print()">Print this page</button>-->
  </mat-card-footer>
</div>

<!--------------------------------------------------------------------------------------------------------------------->
<!-----------------------                           CODE PRINT                         -------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
<style>
  table {width: 100%;}
  table, th, td {border: 1px solid black;border-collapse: collapse;}
  th, td {padding: 5px;text-align: left;font-size: 10px;}
  th {background: #C5E1A5; text-align: center;}
  .td01 {text-align: left;border-top: none; border-bottom: none;}
  .td02 {text-align: right;border-top: none; border-bottom: none;}
  .td03 {border: none;}
  .td04 {background: #C5E1A5;}
</style>
<div id="{{data.code}}" style="text-align: center" hidden="hidden">
  <div style="text-align: center"><font style="font-size: 20px"><b>{{company.company_name1}}</b></font></div>
  <div style="text-align: center"><font style="font-size: 16px"><b>{{company.company_name2}}</b></font></div>
  <div style="text-align: right"><font style="font-size: 16px"><b>ใบจ่ายเงินเดือน(PAT SLIP)</b></font></div>
  <table style="border: none">
    <tr>
      <th width="25%">รหัสพนักงาน EMP. No.</th>
      <th>ชื่อพนักงาน/Name</th>
      <th width="15%">บัญชีเลขที่/Account No.</th>
      <th width="20%">งวดที่ - วันที่จ่าย/Period-Payday.</th>
    </tr>
    <tr>
      <td>{{data.code}}</td>
      <td style="text-align: left">{{data.name1}}</td>
      <td>{{data.account}}</td>
      <td>{{data.period | date: 'dd/MM/yy'}} TO {{data.payday  | date: 'dd/MM/yy'}}</td>
    </tr>
  </table>
  <div style="text-align: left"><font style="font-size: 14px">ส่วนงาน/Section</font></div>
  <table style="border: none">
    <tr>
      <th width="25%">รายการเงินได้<br>INCOME</th>
      <th width="10%">เงินได้งวดปัจจุบัน<br>CURRENT</th>
      <th width="10%">เงินสะสม<br>Y-T-D</th>
      <th width="20%">รายการเงินหัก<br>DEDUCTION</th>
      <th width="15%">เงินหักงวดปัจจุบัน<br>CURRENT</th>
      <th width="20%">เงินสะสม<br>Y-T-D</th>
    </tr>
    <tr>
      <td class="td01">Basic Salary</td>
      <td class="td02">{{data.salary | number: '1.2'}}</td>
      <td class="td02"></td>
      <td class="td01">Personal Income Tax</td>
      <td class="td02">{{data.personal_income_tex | number: '1.2'}}</td>
      <td class="td02" style="border-right: 1px solid black;"></td>
    </tr>
    <tr>
      <td class="td01">Bonus Allowance</td>
      <td class="td02">{{data.bonus_allowance | number: '1.2'}}</td>
      <td class="td02"></td>
      <td class="td01">Social Security Monthly</td>
      <td class="td02">{{data.social_security_monthly | number: '1.2'}}</td>
      <td class="td02"style="border-right: 1px solid black;"></td>
    </tr>
    <tr>
      <td class="td01">Incentive</td>
      <td class="td02">{{data.incentive | number: '1.2'}}</td>
      <td class="td02"></td>
      <td class="td01">Take Leave No Pay</td>
      <td class="td02">{{data.take_leave_no_pay | number: '1.2'}}</td>
      <td class="td02"style="border-right: 1px solid black;"></td>
    </tr>
    <tr>
      <td class="td01">Comission</td>
      <td class="td02"> {{data.comission | number: '1.2'}} </td>
      <td class="td02"></td>
      <td class="td01">Meal Deduction</td>
      <td class="td02">{{data.meal_deduction | number: '1.2'}}</td>
      <td class="td02"style="border-right: 1px solid black;"></td>
    </tr>
    <tr>
      <td class="td01">Social Security Monthly</td>
      <td class="td02">{{data.social_security_monthly_emp | number: '1.2'}}</td>
      <td class="td02"></td>
      <td class="td01"></td>
      <td class="td02"></td>
      <td class="td02"style="border-right: 1px solid black;"></td>
    </tr>
    <tr>
      <td height="100px" class="td01"></td>
      <td class="td02"></td>
      <td class="td02"></td>
      <td class="td01"></td>
      <td class="td02"></td>
      <td class="td02"style="border-right: 1px solid black;"></td>
    </tr>
    <tr>
      <th>ยอดรวมเงินได้/Total Income</th>
      <th>{{data.total_income | number: '1.2'}}</th>
      <th>-</th>
      <th>ยอดรวมเงินหัก/Total Deduction</th>
      <th>{{data.total_deduction | number: '1.2'}}</th>
      <th>-</th>
    </tr>
    <tr>
      <td class="td03" width="25%"></td>
      <td class="td03" width="10%"></td>
      <td class="td03" width="10%"></td>
      <td class="td03" width="20%"></td>
      <td width="15%" style="text-align: center">{{data.total_income - data.total_deduction | number: '1.2'}}</td>
      <td class="td03" width="20%"></td>
    </tr>
  </table>
  <br>
  <table style="border: none">
    <tr>
      <td width="25%" class="td04">YTD. Income</td>
      <td width="10%" style="text-align: right">{{data.ytd_income / 2 | number: '1.2'}}</td>
      <td class="td03" width="10%"></td>
      <td width="20%" class="td04">YTD. Prov Fund</td>
      <td width="15%" style="text-align: right">{{data.ytd_provident_fund  / 2 | number: '1.2'}}</td>
      <td class="td03" width="20%"></td>
    </tr>
    <tr>
      <td class="td04">YTD.Tax</td>
      <td  style="text-align: right">{{data.ytd_tax  / 2 | number: '1.2'}}</td>
      <td class="td03"></td>
      <td class="td04">YTD. Social Seurity</td>
      <td  style="text-align: right">{{data.ytd_social_security  / 2 | number: '1.2'}}</td>
      <td class="td03"></td>
    </tr>
  </table>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<!-----------------------                           CODE PRINT                         -------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->
