<td-layout-nav toolbarTitle="Working Time Preview" class="container">
  <button mat-icon-button td-menu-button mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span flex></span>
    <span>
        <a mat-icon-button mat-tooltip="Print" class="btn-icon push-right-sm" (click)="previewPrint(name)"><mat-icon>print</mat-icon></a>
    </span>
  </div>

  <td-layout-card-over cardTitle="{{name}}" cardSubtitle="">
    <mat-card-content class="push-bottom-none">
      <mat-label class="labelPa">TimeGood : {{timeGood}}</mat-label>
      <mat-label class="labelPa">TimeLate : {{timeLate}}</mat-label>
      <mat-label class="labelPa"><font color="{{statusGross}}"><b>TimeGross : {{timeGross}}</b></font></mat-label>
    </mat-card-content>

    <mat-card-content style="padding-top: 0px;">
      <ngx-datatable
        #dataTable
        class="data-table"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="35"
        [scrollbarH]="true"
        [rowHeight]="'auto'"
        [sorts]="[{prop: 'prop', dir: 'desc'}]"
        [limit]="page.size">

        <ngx-datatable-column name="Date"
                              [width]="25"
                              [sortable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <div style="text-align: left" class="text-truncate">
                {{row.date | date:'dd/MM/yyyy'}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Check-In"
                              [width]="25"
                              [sortable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <div style="text-align: left" class="text-truncate">
              {{row.check_in_time | date:'HH:mm'}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Result"
                              [width]="25"
                              [sortable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <div style="text-align: left" class="text-truncate">
              <label style="color: #4CAF50;" *ngIf="(row.check_in_status === 'Good')">{{row.check_in_result}}</label>
              <label style="color: #FBC02D;" *ngIf="(row.check_in_status === 'Warning')">{{row.check_in_result}}</label>
              <label style="color: #FBC02D;" *ngIf="(row.check_in_status === 'Warning-Good')">{{row.check_in_result}}</label>
              <label style="color: #F44336;" *ngIf="(row.check_in_status === 'Non Pay')">{{row.check_in_result}}</label>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Check-Out"
                              [width]="25"
                              [sortable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <div style="text-align: left" class="text-truncate">
              {{row.check_out_time | date:'HH:mm'}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Result"
                              [width]="25"
                              [sortable]="false">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <div style="text-align: left" class="text-truncate">
              <label style="color: #4CAF50;" *ngIf="(row.check_out_status === 'Good')">{{row.check_out_result}}</label>
              <label style="color: #FBC02D;" *ngIf="(row.check_out_status === 'Warning')">{{row.check_out_result}}</label>
              <label style="color: #FBC02D;" *ngIf="(row.check_out_status === 'Warning-Good')">{{row.check_out_result}}</label>
              <label style="color: #F44336;" *ngIf="(row.check_out_status === 'Non Pay')">{{row.check_out_result}}</label>
            </div>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
      <div class="mat-padding" *ngIf="rows?.length === 0 && !loading" layout="row" layout-align="center center">
        <h3>No data to display.</h3>
      </div>
      <mat-paginator #paginator
                     [length]="page.totalElements"
                     [pageIndex]="page.pageNumber"
                     [pageSize]="page.size"
                     (page)="setPage($event)"
                     [pageSizeOptions]="[10, 25, 50, 100]">
      </mat-paginator>
    </mat-card-content>
  </td-layout-card-over>
</td-layout-nav>
<div id="{{name}}" style="text-align: center" hidden="hidden">
  <label style="font-size: 40px;"><b>{{name}}</b></label>
  <div class="row">
    <label>TimeGood :{{timeGood}}</label>
    <label>TimeLate :{{timeLate}}</label>
    <label><font color="{{statusGross}}"><b>TimeGross : {{timeGross}}</b></font></label>
  </div>
  <div class="row">
    <table>
      <tr>
        <th>Date</th>
        <th>Check IN</th>
        <th>Result</th>
        <th>Check OUT</th>
        <th>Result</th>
      </tr>
      <tr *ngFor="let row of temp">
        <td>{{row.date | date:'dd/MM/yyyy'}}</td>
        <td>{{row.check_in_time | date:'HH:MM'}}</td>
        <td style="color: #4CAF50;" *ngIf="(row.check_in_status === 'Good')">{{row.check_in_result}}</td>
        <td style="color: #FBC02D;" *ngIf="(row.check_in_status === 'Warning')">{{row.check_in_result}}</td>
        <td style="color: #FBC02D;" *ngIf="(row.check_in_status === 'Warning-Good')">{{row.check_in_result}}</td>
        <td style="color: #F44336;" *ngIf="(row.check_in_status === 'Non Pay')">{{row.check_in_result}}</td>
        <td>{{row.check_out_time | date:'HH:MM'}}</td>
        <td style="color: #4CAF50;" *ngIf="(row.check_out_status === 'Good')">{{row.check_out_result}}</td>
        <td style="color: #FBC02D;" *ngIf="(row.check_out_status === 'Warning')">{{row.check_out_result}}</td>
        <td style="color: #FBC02D;" *ngIf="(row.check_out_status === 'Warning-Good')">{{row.check_out_result}}</td>
        <td style="color: #F44336;" *ngIf="(row.check_out_status === 'Non Pay')">{{row.check_out_result}}</td>
      </tr>
    </table>
  </div>
</div>
