<div class="form">
  <h2 mat-dialog-title>{{(data.title | translate:lang)}}</h2>

  <mat-dialog-content class="area-info">
    <div fxLayout="column">
      <i class="mdi mdi-email icon"></i>
      <div class="content">
        {{data.content | translate:lang}}
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-content >
    <div fxLayout="column">
      <div class="data-title">
        {{data.data_title | translate:lang}}
      </div>
      <div class="data-list">
        {{data.data | translate:lang}}
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="operation">
    <button class="btn btn-cancel" mat-button [mat-dialog-close]="false">{{'Cancel' | translate:lang}}</button>
    <button class="btn btn-colored-primay" mat-button [mat-dialog-close]="true">{{'Send' | translate:lang}}</button>
  </mat-dialog-actions>
</div>

