<div align="center" style="vertical-align: inherit; padding: 10px;">
  <mat-card-content class="push-bottom-none" style="margin: 10px">

    <form #dataForm="ngForm">
      <div layout="row">
        <mat-form-field flex>
          <input matInput
                 placeholder="Employee Code"
                 [(ngModel)]="data.employee_code"
                 name="employee_code"
                 maxlength="250">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-divider style="margin: 10px"></mat-divider>

  <mat-card-footer style="margin: 0px 10px;align-content: center;">
    <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
    <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
            (click)="saveData(dataForm.form)">Save
    </button>
  </mat-card-footer>
</div>

