<div align="center" style="vertical-align: inherit; padding: 10px;">
  <mat-card-content class="push-bottom-none" style="margin: 10px">

    <form #dataForm="ngForm">

      <div layout="row">
        <mat-form-field flex>
          <input matInput
                 #dateElement
                 [matDatepicker]="myDatepicker"
                 #dateControl="ngModel"
                 [(ngModel)]="data.date"
                 name="date"
                 maxlength="250">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div layout="row">
        <mat-form-field flex>
          <input matInput
                 #name1Element
                 #name1Control="ngModel"
                 placeholder="Description Name 1"
                 [(ngModel)]="data.name1"
                 name="name1"
                 maxlength="250"
                 required>
          <mat-hint align="start">
                <span [hidden]="name1Control.pristine" class="tc-red-600">
                  <span [hidden]="!name1Control.hasError('required')">Required</span>
                </span>
          </mat-hint>
          <mat-hint align="end">{{name1Element.value?.length || 0}} / 250</mat-hint>
        </mat-form-field>
      </div>

      <div layout="row">
        <mat-form-field flex>
          <input matInput
                 #name2Element
                 #name2Control="ngModel"
                 placeholder="Description Name 2"
                 [(ngModel)]="data.name2"
                 name="name2"
                 maxlength="250">
          <mat-hint align="start">
            <!--<span [hidden]="name2Control.pristine" class="tc-red-600">-->
            <!--<span [hidden]="!name2Control.hasError('required')">Required</span>-->
            <!--</span>-->
          </mat-hint>
          <mat-hint align="end">{{name2Element.value?.length || 0}} / 250</mat-hint>
        </mat-form-field>
      </div>

    </form>
  </mat-card-content>
  <mat-divider style="margin: 10px"></mat-divider>

  <mat-card-footer style="margin: 0px 10px;align-content: center;">
    <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
    <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
            (click)="saveData(dataForm.form)">Save
    </button>
  </mat-card-footer>
</div>

