<br>
<br>
<div align="center" style="vertical-align: inherit; padding: 10px;">
  <h2>Do you want to leave work ?</h2>

  {{data.employee_code}} : {{data.employee_name}} : {{data.department}}
  <form #dataForm="ngForm" hidden>
    <div layout="row" align="center">

      <mat-card-content class="push-bottom-none" style="width: 100vw;margin: 10px;margin-bottom: 0px;">
        <div style="text-align: left;width: 50%" class="row">

          <input name="code" type="text" class="md-input" id="code" [(ngModel)]="data.code">
          <input name="employee_code" type="text" class="md-input" id="employee_code" [(ngModel)]="data.employee_code">
          <input name="employee_name" type="text" class="md-input" id="employee_name" [(ngModel)]="data.employee_name">
          <input name="department" type="text" class="md-input" id="department" [(ngModel)]="data.department">
          <input name="take_leave" type="text" class="md-input" id="take_leave" [(ngModel)]="data.take_leave">
          <input name="start_leave" type="text" class="md-input" id="start_leave" [(ngModel)]="data.start_leave">
          <input name="end_leave" type="text" class="md-input" id="end_leave" [(ngModel)]="data.end_leave">
          <input name="take_leave_status" type="text" class="md-input" id="take_leave_status" [(ngModel)]="data.take_leave_status">
          <input name="status_colos" type="text" class="md-input" id="status_colos" [(ngModel)]="data.status_colos">
          <input name="disable" type="text" class="md-input" id="disable" [(ngModel)]="data.disable">

        </div>
      </mat-card-content>

    </div>
  </form>

  <mat-divider style="margin:10px"></mat-divider>
  <!-- Footer -->
  <mat-card-footer style="margin: 0px 10px;align-content: center;">
    <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
    <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
            (click)="saveData(dataForm.form)">Yes
    </button>
  </mat-card-footer>
</div>
