<div align="center" style="vertical-align: inherit; padding: 50px;">
  <form #dataForm="ngForm">
    <mat-card-content>

      <div layout="row">
        <mat-form-field flex>
          <input matInput
                 type="text"
                 #codeminimumElement
                 #codeControl="ngModel"
                 placeholder="ID"
                 [(ngModel)]="data.code"
                 name="code"
                 disabled
                 maxlength="4">
          <mat-hint align="start">
              <span [hidden]="codeControl.pristine" class="tc-red-600">
              <span [hidden]="!codeControl.hasError('required')">Required</span>
              </span>
          </mat-hint>
          <mat-hint align="end">{{minimumElement.value?.length || 0}} / 4</mat-hint>
        </mat-form-field>
      </div>

      <div layout="row">
        <mat-form-field flex>
          <mat-select placeholder="Time length"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="data.time_length"
                      name="time_length"
                      required>
            <mat-option value="30">30 Days</mat-option>
            <mat-option value="184">6 Month</mat-option>
            <mat-option value="366">1 Year</mat-option>
            <mat-option value="Non Stop">Non Stop</mat-option>
          </mat-select>
        </mat-form-field>&nbsp;
      </div>

      <div layout="row">
        <mat-form-field flex>
          <input matInput
                 #licenseElement
                 #licenseControl="ngModel"
                 placeholder="License"
                 [(ngModel)]="data.license"
                 name="license"
                 maxlength="16"
                 required>
          <mat-hint align="start">
                <span [hidden]="licenseControl.pristine" class="tc-red-600">
                  <span [hidden]="!licenseControl.hasError('required')">Required</span>
                </span>
          </mat-hint>
          <mat-hint align="end">{{licenseElement.value?.length || 0}} / 16</mat-hint>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;
        <button mat-button class="text-upper" disabled="{{disbleBtnRandom}}"
                (click)="randomCode()">Please Rendom Code</button>
      </div>
    </mat-card-content>

    <mat-card-footer style="margin: 0px 10px;align-content: center;">
      <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
      <button mat-button class="text-upper" color="primary"
              disabled="{{disbleBtnSave}}"
              (click)="saveData(dataForm.form)">Save
      </button>
    </mat-card-footer>
  </form>
</div>
