<div align="center" style="vertical-align: inherit; padding: 10px;">
  <form #dataForm="ngForm">
    <div layout="row" align="center">
      <!-- Col Left -->
      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px;margin-bottom: 0px;">
        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #name1Element
                   #name1Control="ngModel"
                   placeholder="Name 1"
                   [(ngModel)]="data.name1"
                   name="name1"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="name1Control.pristine" class="tc-red-600">
                  <span [hidden]="!name1Control.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{name1Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #name2Element
                   #name2Control="ngModel"
                   placeholder="Name 2"
                   [(ngModel)]="data.name2"
                   name="name2"
                   maxlength="250"
                   required>
            <mat-hint align="start">
              <span [hidden]="name2Control.pristine" class="tc-red-600">
              <span [hidden]="!name2Control.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{name2Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #name1Element
                   #name1Control="ngModel"
                   placeholder="Position"
                   [(ngModel)]="data.position"
                   name="position"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="name1Control.pristine" class="tc-red-600">
                  <span [hidden]="!name1Control.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{name1Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #name1Element
                   #name1Control="ngModel"
                   placeholder="Salary"
                   [(ngModel)]="data.salary"
                   name="position"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="name1Control.pristine" class="tc-red-600">
                  <span [hidden]="!name1Control.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{name1Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>&nbsp;

          <mat-form-field flex>
            <mat-select placeholder="Department"
                        #typeControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.department"
                        required>
              <mat-option value="test">test</mat-option>
              <mat-option value="12">12</mat-option>
              <mat-option value="13">13</mat-option>
              <mat-option value="14">14</mat-option>
              <mat-option value="15">15</mat-option>
            </mat-select>
            <mat-hint align="end">
                <span [hidden]="typeControl.pristine" class="tc-red-600">
                  <span [hidden]="!typeControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>&nbsp;
        </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Level"
                        #typeControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.level"
                        required>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
            </mat-select>
            <mat-hint align="end">
                <span [hidden]="typeControl.pristine" class="tc-red-600">
                  <span [hidden]="!typeControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>&nbsp;

          <mat-form-field flex>
            <mat-select placeholder="Holidays"
                        #typeControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.holidays"
                        required>
              <mat-option value="11">11</mat-option>
              <mat-option value="12">12</mat-option>
              <mat-option value="13">13</mat-option>
              <mat-option value="14">14</mat-option>
              <mat-option value="15">15</mat-option>
            </mat-select>
            <mat-hint align="end">
                <span [hidden]="typeControl.pristine" class="tc-red-600">
                  <span [hidden]="!typeControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>&nbsp;

        <mat-form-field flex>
          <mat-select placeholder="Vacations"
                      #typeControl="ngModel"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="data.vacations"
                      required>
            <mat-option value="8">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="11">11</mat-option>
          </mat-select>
          <mat-hint align="end">
                <span [hidden]="typeControl.pristine" class="tc-red-600">
                  <span [hidden]="!typeControl.hasError('required')">Required</span>
                </span>
          </mat-hint>
        </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #name1Element
                   #name1Control="ngModel"
                   placeholder="Address"
                   [(ngModel)]="data.address"
                   name="address"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="name1Control.pristine" class="tc-red-600">
                  <span [hidden]="!name1Control.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{name1Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #name1Element
                   #name1Control="ngModel"
                   placeholder="National ID"
                   [(ngModel)]="data.nationalid"
                   name="nationalid"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="name1Control.pristine" class="tc-red-600">
                  <span [hidden]="!name1Control.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{name1Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

      </mat-card-content>
      <!-- End Col Left -->

      <!-- Col Right -->
      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px;margin-bottom: 0px;">
        <div class="grid" style="text-align: center">
          <div *ngFor="let image of images; let i = index">
            <img height="200px" [src]="image.src" (click)="gallery.set(i)"/>
          </div>
        </div>
        <div fxLayout="row" style="margin: 10px;text-align: center">
          <span fxFlex></span>
          <input #upload hidden accept="image/*" type="file" tdFileSelect (fileSelect)="uploadImage($event)">
          <a mat-raised-button class="text-upper" color="primary" (click)="upload.click()">Upload</a>
          <a mat-button class="text-upper" style="margin-left: 10px;" (click)="removeImage()" [disabled]="data.image === '../../../../../assets/images/placeholder.png'?true:false">Remove</a>
          <span fxFlex></span>
        </div>

        <div layout="row" style="margin-top: 25px">
          <mat-form-field style="width: 100px;margin: 10px;" flex>
            <input matInput
                   type="text"
                   style="text-align: end;"
                   #minimumElement
                   #minimumControl="ngModel"
                   placeholder="ID"
                   [(ngModel)]="data.id"
                   name="min"
                   maxlength="4">
            <mat-hint align="start">
              <span [hidden]="minimumControl.pristine" class="tc-red-600">
              <span [hidden]="!minimumControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{minimumElement.value?.length || 0}} / 8</mat-hint>
          </mat-form-field>

          <mat-form-field style="width: 100px;margin: 10px;" flex>
            <input matInput
                   type="text"
                   style="text-align: end;"
                   #maximumElement
                   #maximumControl="ngModel"
                   placeholder="PIN"
                   [(ngModel)]="data.pin"
                   name="max"
                   maxlength="6">
            <mat-hint align="start">
              <span [hidden]="maximumControl.pristine" class="tc-red-600">
              <span [hidden]="!maximumControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{maximumElement.value?.length || 0}} / 8</mat-hint>
          </mat-form-field>
        </div>

      </mat-card-content>
    </div>
    <!-- End Col Right -->

    <!-- Unit -->
    <!--<div layout="row" align="center">
      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px;margin-top: 0px;">
        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Primary Unit"
                        #primaryUnitControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.primary_unit" (change)="changePrimaryUnit(data.primary_unit)">
              <mat-option *ngFor="let uom of uoms" [value]="uom.code">{{uom.code}} : {{uom.name1}} ({{uom.shortname}})</mat-option>
            </mat-select>
            <mat-hint align="start">
              <span [hidden]="primaryUnitControl.pristine" class="tc-red-600">
                <span [hidden]="!primaryUnitControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px;margin-top: 0px;">
        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Secondary Unit"
                        #secondaryUnitControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.secondary_unit">
              <mat-option *ngFor="let uom of uoms" [value]="uom.code">{{uom.code}} : {{uom.name1}} ({{uom.shortname}})</mat-option>
            </mat-select>
            <mat-hint align="start">
                <span [hidden]="secondaryUnitControl.pristine" class="tc-red-600">
                  <span [hidden]="!secondaryUnitControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
    </div>-->
  </form>

  <mat-divider style="margin:10px"></mat-divider>
  <!-- Footer -->
  <mat-card-footer style="margin: 0px 10px;align-content: center;">
    <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
    <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
            (click)="saveData(dataForm.form)">Save
    </button>
  </mat-card-footer>
</div>
