<div align="center" style="vertical-align: inherit; padding: 10px;">
  <form #dataForm="ngForm">
    <div layout="row" align="center">
      <!-- Col Left -->
      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px;margin-bottom: 0px;">
        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #name1Element
                   #name1Control="ngModel"
                   placeholder="Name 1"
                   [(ngModel)]="data.name1"
                   name="name1"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="name1Control.pristine" class="tc-red-600">
                  <span [hidden]="!name1Control.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{name1Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
          &nbsp;
          <mat-form-field flex>
            <input matInput
                   #name2Element
                   #name2Control="ngModel"
                   placeholder="Name 2"
                   [(ngModel)]="data.name2"
                   name="name2"
                   maxlength="250"
                   required>
            <mat-hint align="start">
              <span [hidden]="name2Control.pristine" class="tc-red-600">
              <span [hidden]="!name2Control.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{name2Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Status"
                        #marry_statusControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.marry_status"
                        required>
              <mat-option value="Single">Single</mat-option>
              <mat-option value="Married">Married</mat-option>
            </mat-select>
            <mat-hint align="end">
                <span [hidden]="marry_statusControl.pristine" class="tc-red-600">
                  <span [hidden]="!marry_statusControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>
          &nbsp;
          <mat-form-field flex>
            <input matInput
                   #positionElement
                   #positionControl="ngModel"
                   placeholder="Position"
                   [(ngModel)]="data.position"
                   name="position"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="positionControl.pristine" class="tc-red-600">
                  <span [hidden]="!positionControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{positionElement.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #workStartDateElement
                   #workStartDateControl="ngModel"
                   placeholder="Work Start Date"
                   [matDatepicker]="myDatepicker"
                   [(ngModel)]="data.work_start_date"
                   name="work_start_date"
                   maxlength="250"
                   required>
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
            <mat-hint align="start">
                <span [hidden]="workStartDateControl.pristine" class="tc-red-600">
                  <span [hidden]="!workStartDateControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{workStartDateElement.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
          &nbsp;
          <mat-form-field flex>
            <input matInput
                   #lateWorkElement
                   #lateWorkControl="ngModel"
                   placeholder="Last Work"
                   [(ngModel)]="data.late_work"
                   name="late_work"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="lateWorkControl.pristine" class="tc-red-600">
                  <span [hidden]="!lateWorkControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{lateWorkElement.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>
        <!--[ngModel]="data.salary | number: '1.2'"-->
        <!--(ngModelChange)="data.salary = $event"-->
        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #salaryElement
                   #salaryControl="ngModel"
                   placeholder="Salary"
                   [(ngModel)]="data.salary"
                   name="salary"
                   maxlength="250"
                   type="text"
                   required>
            <mat-hint align="start">
                <span [hidden]="salaryControl.pristine" class="tc-red-600">
                  <span [hidden]="!salaryControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{salaryElement.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>&nbsp;

          <mat-form-field flex>
            <mat-select placeholder="Department"
                        #departmentControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.department"
                        required>
              <mat-option *ngFor="let getdepartmant of departmants" [value]="getdepartmant.name1">{{getdepartmant.name1}}</mat-option>
            </mat-select>
            <mat-hint align="start">
                <span [hidden]="departmentControl.pristine" class="tc-red-600">
                  <span [hidden]="!departmentControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Level"
                        #levelControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.level"
                        required>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
            </mat-select>
            <mat-hint align="end">
                <span [hidden]="levelControl.pristine" class="tc-red-600">
                  <span [hidden]="!levelControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>&nbsp;

          <mat-form-field flex>
            <mat-select placeholder="Holidays"
                        #holidaysControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.holidays"
                        required>
              <mat-option *ngFor="let holiday of holidays" [value]="holiday.value">{{holiday.viewValue}}</mat-option>
            </mat-select>
            <mat-hint align="end">
                <span [hidden]="holidaysControl.pristine" class="tc-red-600">
                  <span [hidden]="!holidaysControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>&nbsp;

        <mat-form-field flex>
          <mat-select placeholder="Vacations"
                      #vacationsControl="ngModel"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="data.vacations"
                      required>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="11">11</mat-option>
            <mat-option value="12">12</mat-option>
            <mat-option value="13">13</mat-option>
            <mat-option value="14">14</mat-option>
            <mat-option value="15">15</mat-option>
            <mat-option value="16">16</mat-option>
            <mat-option value="17">17</mat-option>
            <mat-option value="18">18</mat-option>
            <mat-option value="19">19</mat-option>
            <mat-option value="20">20</mat-option>
          </mat-select>
          <mat-hint align="end">
                <span [hidden]="vacationsControl.pristine" class="tc-red-600">
                  <span [hidden]="!vacationsControl.hasError('required')">Required</span>
                </span>
          </mat-hint>
        </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #addressElement
                   #addressControl="ngModel"
                   placeholder="Address"
                   [(ngModel)]="data.address"
                   name="address"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="addressControl.pristine" class="tc-red-600">
                  <span [hidden]="!addressControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{addressElement.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #mobileElement
                   #mobileControl="ngModel"
                   placeholder="Mobile"
                   [(ngModel)]="data.mobile"
                   name="mobile"
                   maxlength="15"
                   required>
            <mat-hint align="start">
                <span [hidden]="mobileControl.pristine" class="tc-red-600">
                  <span [hidden]="!mobileControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{mobileElement.value?.length || 0}} / 15</mat-hint>
          </mat-form-field>&nbsp;

          <mat-form-field flex>
            <input matInput
                   #phonElement
                   #phonControl="ngModel"
                   placeholder="Phone"
                   [(ngModel)]="data.phon"
                   name="phon"
                   maxlength="15"
                   required>
            <mat-hint align="start">
                <span [hidden]="phonControl.pristine" class="tc-red-600">
                  <span [hidden]="!phonControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{phonElement.value?.length || 0}} / 15</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #bankElement
                   #bankControl="ngModel"
                   placeholder="Bank"
                   [(ngModel)]="data.bank"
                   name="bank"
                   maxlength="150"
                   required>
            <mat-hint align="start">
                <span [hidden]="bankControl.pristine" class="tc-red-600">
                  <span [hidden]="!bankControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{bankElement.value?.length || 0}} / 150</mat-hint>
          </mat-form-field>&nbsp;

          <mat-form-field flex>
            <input matInput
                   #accountElement
                   #accountControl="ngModel"
                   placeholder="Account"
                   [(ngModel)]="data.account"
                   name="account"
                   maxlength="150"
                   required>
            <mat-hint align="start">
                <span [hidden]="accountControl.pristine" class="tc-red-600">
                  <span [hidden]="!accountControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{accountElement.value?.length || 0}} / 150</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #nationalidElement
                   #nationalidControl="ngModel"
                   placeholder="National ID"
                   [(ngModel)]="data.nationalid"
                   name="nationalid"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="nationalidControl.pristine" class="tc-red-600">
                  <span [hidden]="!nationalidControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{nationalidElement.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

      </mat-card-content>
      <!-- End Col Left -->

      <!-- Col Right -->
      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px;margin-bottom: 0px;">
        <div class="grid" style="text-align: center">
          <div *ngFor="let image of images; let i = index">
            <img height="200px" [src]="image.src" (click)="gallery.set(i)"/>
          </div>
        </div>
        <div fxLayout="row" style="margin: 10px;text-align: center">
          <span fxFlex></span>
          <input #upload hidden accept="image/*" type="file" tdFileSelect (fileSelect)="uploadImage($event)">
          <a mat-raised-button class="text-upper" color="primary" (click)="upload.click()">Upload</a>
          <a mat-button class="text-upper" style="margin-left: 10px;" (click)="removeImage()" [disabled]="data.image === '../../../../../assets/images/placeholder.png'?true:false">Remove</a>
          <span fxFlex></span>
        </div>

        <div layout="row" style="margin-top: 25px">
          <mat-form-field style="width: 100px;margin: 10px;" flex>
            <input matInput
                   type="text"
                   style="text-align: end;"
                   #codeElement
                   #codeControl="ngModel"
                   placeholder="ID"
                   [(ngModel)]="data.code"
                   name="code"
                   maxlength="4">
            <mat-hint align="start">
              <span [hidden]="codeControl.pristine" class="tc-red-600">
              <span [hidden]="!codeControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{codeElement.value?.length || 0}} / 4</mat-hint>
          </mat-form-field>

          <mat-form-field style="width: 100px;margin: 10px;" flex>
            <input matInput
                   type="text"
                   style="text-align: end;"
                   #pinElement
                   #pinControl="ngModel"
                   placeholder="PIN"
                   [(ngModel)]="data.pin"
                   name="pin"
                   maxlength="6">
            <mat-hint align="start">
              <span [hidden]="pinControl.pristine" class="tc-red-600">
              <span [hidden]="!pinControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{pinElement.value?.length || 0}} / 6</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Check In"
                        #check_inControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.check_in"
                        required>
              <mat-option value="00:00">00:00</mat-option>
              <mat-option value="01:00">01:00</mat-option>
              <mat-option value="02:00">02:00</mat-option>
              <mat-option value="03:00">03:00</mat-option>
              <mat-option value="04:00">04:00</mat-option>
              <mat-option value="05:00">05:00</mat-option>
              <mat-option value="06:00">06:00</mat-option>
              <mat-option value="07:00">07:00</mat-option>
              <mat-option value="08:00">08:00</mat-option>
              <mat-option value="09:00">09:00</mat-option>
              <mat-option value="10:00">10:00</mat-option>
              <mat-option value="11:00">11:00</mat-option>
              <mat-option value="12:00">12:00</mat-option>
              <mat-option value="13:00">13:00</mat-option>
              <mat-option value="14:00">14:00</mat-option>
              <mat-option value="15:00">15:00</mat-option>
              <mat-option value="16:00">16:00</mat-option>
              <mat-option value="17:00">17:00</mat-option>
              <mat-option value="18:00">18:00</mat-option>
              <mat-option value="19:00">19:00</mat-option>
              <mat-option value="20:00">20:00</mat-option>
              <mat-option value="21:00">21:00</mat-option>
              <mat-option value="22:00">22:00</mat-option>
              <mat-option value="23:00">23:00</mat-option>
            </mat-select>
            <mat-hint align="end">
                <span [hidden]="check_inControl.pristine" class="tc-red-600">
                  <span [hidden]="!check_inControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>&nbsp;

          <mat-form-field flex>
            <mat-select placeholder="Check Out"
                        #check_outControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.check_out"
                        required>
              <mat-option value="00:00">00:00</mat-option>
              <mat-option value="01:00">01:00</mat-option>
              <mat-option value="02:00">02:00</mat-option>
              <mat-option value="03:00">03:00</mat-option>
              <mat-option value="04:00">04:00</mat-option>
              <mat-option value="05:00">05:00</mat-option>
              <mat-option value="06:00">06:00</mat-option>
              <mat-option value="07:00">07:00</mat-option>
              <mat-option value="08:00">08:00</mat-option>
              <mat-option value="09:00">09:00</mat-option>
              <mat-option value="10:00">10:00</mat-option>
              <mat-option value="11:00">11:00</mat-option>
              <mat-option value="12:00">12:00</mat-option>
              <mat-option value="13:00">13:00</mat-option>
              <mat-option value="14:00">14:00</mat-option>
              <mat-option value="15:00">15:00</mat-option>
              <mat-option value="16:00">16:00</mat-option>
              <mat-option value="17:00">17:00</mat-option>
              <mat-option value="18:00">18:00</mat-option>
              <mat-option value="19:00">19:00</mat-option>
              <mat-option value="20:00">20:00</mat-option>
              <mat-option value="21:00">21:00</mat-option>
              <mat-option value="22:00">22:00</mat-option>
              <mat-option value="23:00">23:00</mat-option>
            </mat-select>
            <mat-hint align="end">
                <span [hidden]="check_outControl.pristine" class="tc-red-600">
                  <span [hidden]="!check_outControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>&nbsp;
        </div>

        <div layout="row" style="margin-top: 25px">
          <mat-form-field style="width: 100px;margin: 10px;" flex>
            <input matInput
                   type="text"
                   #emailElement
                   #emailControl="ngModel"
                   placeholder="E-Mail"
                   [(ngModel)]="data.email"
                   name="email"
                   maxlength="250">
            <mat-hint align="start">
              <span [hidden]="emailControl.pristine" class="tc-red-600">
              <span [hidden]="!emailControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{emailElement.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row" style="margin-top: 25px">
            <input hidden
                   #minimumElement
                   #minimumControl="ngModel"
                   [(ngModel)]="data.company_code"
                   name="company_code">
        </div>

      </mat-card-content>
    </div>
    <!-- End Col Right -->
  </form>

  <mat-divider style="margin:10px"></mat-divider>
  <!-- Footer -->
  <mat-card-footer style="margin: 0px 10px;align-content: center;">
    <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
    <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
            (click)="saveData(dataForm.form)">Save
    </button>
  </mat-card-footer>
</div>
