<!doctype html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SRC</title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>


  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

</head>

<body>
  <app-root>
    <div style="padding: 20%;text-align:center;">
      <img src="assets/images/logo2.jpg" width="100"><br>
      <label>Loading...</label>
    </div>
  </app-root>
</body>
</html>
