<div align="center" style="vertical-align: inherit; padding: 10px;">
  <form #dataForm="ngForm">
    <div layout="row" align="center">
      <!-- Open Left Col -->
      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px;margin-bottom: 0px;">

        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Check In"
                        #typeControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.check_in"
                        required>
              <mat-option value="00:00">00:00</mat-option>
              <mat-option value="01:00">01:00</mat-option>
              <mat-option value="02:00">02:00</mat-option>
              <mat-option value="03:00">03:00</mat-option>
              <mat-option value="04:00">04:00</mat-option>
              <mat-option value="05:00">05:00</mat-option>
              <mat-option value="06:00">06:00</mat-option>
              <mat-option value="07:00">07:00</mat-option>
              <mat-option value="08:00">08:00</mat-option>
              <mat-option value="09:00">09:00</mat-option>
              <mat-option value="10:00">10:00</mat-option>
              <mat-option value="11:00">11:00</mat-option>
              <mat-option value="12:00">12:00</mat-option>
              <mat-option value="13:00">13:00</mat-option>
              <mat-option value="14:00">14:00</mat-option>
              <mat-option value="15:00">15:00</mat-option>
              <mat-option value="16:00">16:00</mat-option>
              <mat-option value="17:00">17:00</mat-option>
              <mat-option value="18:00">18:00</mat-option>
              <mat-option value="19:00">19:00</mat-option>
              <mat-option value="20:00">20:00</mat-option>
              <mat-option value="21:00">21:00</mat-option>
              <mat-option value="22:00">22:00</mat-option>
              <mat-option value="23:00">23:00</mat-option>
            </mat-select>
            <mat-hint align="end">
                <span [hidden]="typeControl.pristine" class="tc-red-600">
                  <span [hidden]="!typeControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>&nbsp;
        </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Check Out"
                        #typeControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.check_out"
                        required>
              <mat-option value="00:00">00:00</mat-option>
              <mat-option value="01:00">01:00</mat-option>
              <mat-option value="02:00">02:00</mat-option>
              <mat-option value="03:00">03:00</mat-option>
              <mat-option value="04:00">04:00</mat-option>
              <mat-option value="05:00">05:00</mat-option>
              <mat-option value="06:00">06:00</mat-option>
              <mat-option value="07:00">07:00</mat-option>
              <mat-option value="08:00">08:00</mat-option>
              <mat-option value="09:00">09:00</mat-option>
              <mat-option value="10:00">10:00</mat-option>
              <mat-option value="11:00">11:00</mat-option>
              <mat-option value="12:00">12:00</mat-option>
              <mat-option value="13:00">13:00</mat-option>
              <mat-option value="14:00">14:00</mat-option>
              <mat-option value="15:00">15:00</mat-option>
              <mat-option value="16:00">16:00</mat-option>
              <mat-option value="17:00">17:00</mat-option>
              <mat-option value="18:00">18:00</mat-option>
              <mat-option value="19:00">19:00</mat-option>
              <mat-option value="20:00">20:00</mat-option>
              <mat-option value="21:00">21:00</mat-option>
              <mat-option value="22:00">22:00</mat-option>
              <mat-option value="23:00">23:00</mat-option>
            </mat-select>
            <mat-hint align="end">
                <span [hidden]="typeControl.pristine" class="tc-red-600">
                  <span [hidden]="!typeControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>&nbsp;
        </div>

      </mat-card-content>
      <!-- End Left Col -->

      <!-- Col Right -->
      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px;margin-bottom: 0px;">

          <div layout="row">
            <mat-form-field flex>
              <input matInput
                     #name1Element
                     #name1Control="ngModel"
                     placeholder="Late"
                     [(ngModel)]="data.late"
                     name="late"
                     maxlength="250"
                     required>
              <mat-hint align="start">
                <span [hidden]="name1Control.pristine" class="tc-red-600">
                  <span [hidden]="!name1Control.hasError('required')">Required</span>
                </span>
              </mat-hint>
              <mat-hint align="end">{{name1Element.value?.length || 0}} / 250</mat-hint>
            </mat-form-field>
          </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Policy"
                        #typeControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.policy"
                        >
              <mat-option value="Warning">Warning</mat-option>
              <mat-option value="Non Pay">Non Pay</mat-option>
            </mat-select>
            <mat-hint align="end">
                <span [hidden]="typeControl.pristine" class="tc-red-600">
                  <span [hidden]="!typeControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>&nbsp;

          <div layout="row" style="margin-top: 25px">
            <input hidden
                   [(ngModel)]="data.company_code"
                   name="company_code">
          </div>

        </div>

      </mat-card-content>

    </div>
  </form>

  <mat-divider style="margin:10px"></mat-divider>
  <!-- Footer -->
  <mat-card-footer style="margin: 0px 10px;align-content: center;">
    <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
    <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
            (click)="saveData(dataForm.form)">Save
    </button>
  </mat-card-footer>
</div>
